<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxf.p2p.base.mapper.BidRequestAuditHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hxf.p2p.base.domain.BidRequestAuditHistory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="bidRequestId" property="bidRequestId" jdbcType="BIGINT"/>
        <result column="auditType" property="auditType" jdbcType="TINYINT"/>
        <association column="auditor_id" property="auditor" javaType="Logininfo"
                     select="com.hxf.p2p.base.mapper.LogininfoMapper.selectByPrimaryKey"/>
        <association column="applier_id" property="applier" javaType="Logininfo"
                     select="com.hxf.p2p.base.mapper.LogininfoMapper.selectByPrimaryKey"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM bidrequestaudithistory
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hxf.p2p.base.domain.BidRequestAuditHistory" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO bidrequestaudithistory (state, remark, auditTime,
                                            applyTime, auditor_id, applier_id,
                                            bidRequestId, auditType)
        VALUES (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP},
                #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},
                #{bidRequestId,jdbcType=BIGINT}, #{auditType,jdbcType=TINYINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hxf.p2p.base.domain.BidRequestAuditHistory">
        UPDATE bidrequestaudithistory
        SET state        = #{state,jdbcType=TINYINT},
            remark       = #{remark,jdbcType=VARCHAR},
            auditTime    = #{auditTime,jdbcType=TIMESTAMP},
            applyTime    = #{applyTime,jdbcType=TIMESTAMP},
            auditor_id   = #{auditor.id,jdbcType=BIGINT},
            applier_id   = #{applier.id,jdbcType=BIGINT},
            bidRequestId = #{bidRequestId,jdbcType=BIGINT},
            auditType    = #{auditType,jdbcType=TINYINT}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId, 
    auditType
    from bidrequestaudithistory
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, bidRequestId, 
    auditType
    from bidrequestaudithistory
  </select>
    <select id="listByBidRequestId" resultMap="BaseResultMap">
        SELECT * FROM bidrequestaudithistory
        WHERE bidRequestId = #{bidRequestId}
    </select>

</mapper>