<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper">
    <resultMap id="BaseResultMap" type="com.hxf.p2p.base.domain.Systemdictionaryitem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parentId" property="parentId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="tvalue" property="tvalue" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="TINYINT"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM systemdictionaryitem
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hxf.p2p.base.domain.Systemdictionaryitem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO systemdictionaryitem (parentId, title, tvalue,
                                          sequence, intro)
        VALUES (#{parentId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{tvalue,jdbcType=VARCHAR},
                #{sequence,jdbcType=TINYINT}, #{intro,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hxf.p2p.base.domain.Systemdictionaryitem">
        UPDATE systemdictionaryitem
        SET parentId = #{parentId,jdbcType=BIGINT},
            title    = #{title,jdbcType=VARCHAR},
            tvalue   = #{tvalue,jdbcType=VARCHAR},
            sequence = #{sequence,jdbcType=TINYINT},
            intro    = #{intro,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, parentId, title, tvalue, sequence, intro
    from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, parentId, title, tvalue, sequence, intro
    from systemdictionaryitem
  </select>
    <sql id="base_where">
        <where>
            <if test="keyword!=null">
                and title LIKE concat('%',#{keyword},'%')
            </if>
            <if test="parentId!=null">
                AND parentId=#{parentId}
            </if>
        </where>
    </sql>
    <select id="queryCountForPage" resultType="java.lang.Long">
        SELECT COUNT(*) FROM systemdictionaryitem
        <include refid="base_where"/>
    </select>
    <select id="queryForPage" resultType="com.hxf.p2p.base.domain.Systemdictionaryitem">
        SELECT * FROM systemdictionaryitem
        <include refid="base_where"/>
        <if test="pageSize!=null">
      limit #{start},#{pageSize}
    </if>
    </select>
    <select id="selectItemBySn" resultMap="BaseResultMap">
        select item.id as id, item.title AS title
        from systemdictionaryitem item JOIN systemdictionary d on (item.parentId=d.id)
        WHERE d.sn=#{sn}
    </select>
</mapper>