<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxf.p2p.base.mapper.UserinfoMapper">
    <resultMap id="BaseResultMap" type="com.hxf.p2p.base.domain.Userinfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="bitState" property="bitState" jdbcType="BIGINT"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="idNumber" property="idNumber" jdbcType="VARCHAR"/>
        <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR"/>
        <association javaType="Systemdictionaryitem" column="incomeGrade_id" property="incomeGrade"
                     select="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey"/>
        <association javaType="Systemdictionaryitem" column="marriage_id" property="marriage"
                     select="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey"/>
        <association javaType="Systemdictionaryitem" column="kidCount_id" property="kidCount"
                     select="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey"/>
        <association javaType="Systemdictionaryitem" column="educationBackground_id" property="educationBackground"
                     select="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey"/>
        <association javaType="Systemdictionaryitem" column="houseCondition_id" property="houseCondition"
                     select="com.hxf.p2p.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM userinfo
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hxf.p2p.base.domain.Userinfo">
        INSERT INTO userinfo (id, version, bitState, realName,
                              idNumber, phoneNumber, incomeGrade_id,
                              marriage_id, kidCount_id, educationBackground_id,
                              houseCondition_id)
        VALUES (#{id}, 0, #{bitState,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR},
                       #{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{incomeGrade.id,jdbcType=BIGINT},
                       #{marriage.id,jdbcType=BIGINT}, #{kidCount.id,jdbcType=BIGINT},
                       #{educationBackground.id,jdbcType=BIGINT},
                       #{houseCondition.id,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hxf.p2p.base.domain.Userinfo">
        UPDATE userinfo
        SET version                = #{version,jdbcType=INTEGER},
            bitState               = #{bitState,jdbcType=BIGINT},
            realName               = #{realName,jdbcType=VARCHAR},
            idNumber               = #{idNumber,jdbcType=VARCHAR},
            phoneNumber            = #{phoneNumber,jdbcType=VARCHAR},
            incomeGrade_id         = #{incomeGrade.id,jdbcType=BIGINT},
            marriage_id            = #{marriage.id,jdbcType=BIGINT},
            kidCount_id            = #{kidCount.id,jdbcType=BIGINT},
            educationBackground_id = #{educationBackground.id,jdbcType=BIGINT},
            houseCondition_id      = #{houseCondition.id,jdbcType=BIGINT}
        WHERE id = #{id,jdbcType=BIGINT}  and version = #{version}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from userinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from userinfo
  </select>
</mapper>